a {
  text-decoration: none;
  color: #58a4b0;
}

h2, h3, p, a {
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: #404040;
  display: none;
  font-family: 'Playball', cursive;
}

h2, h3 {
  color: #58a4b0;
}

.btn {
  background-color: #8B7C7B;
  border-color: #8B7C7B;
  font-family: #fff;
  border-radius: 25px;

  color: #fff;
}

.btn:hover {
  background-color: #F7DBD7;
  border-color: #F7DBD7;
  border-radius: 25px;

  color: #8B7C7B;
}

.card-image {
  box-shadow: 3px 3px 15px #000;
}

section {
  background-color: #F7DBD7;
}

footer {
  background-color: #8B7C7B;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
}

.my-name {
  background-color: #fff;
  margin: 1px;
}

.nav-bar {
  margin-top: 20px;
}

@media only screen and (min-width: 25em) {

  .nav-bar {
    margin-top: 20px;
  }

  h1 {
    color: #404040;
    display: block;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, white 0%, white 49%, #58a4b0 49.1%, #58a4b0 49.9%, white 50%, white 100%);
  }

  .my-name {
    background-color: #fff;
    margin: 1px;
  }

  .nav-bar {
    margin-top: 18px;
  }

}
