a {
  text-decoration: none;
  color: #58a4b0;
}

a:hover {
  border-color: #8B7C7B;
}

h2, h3, p, a, figcaption {
  font-family: 'Comfortaa', serif;
}

h1 {
  color: #404040;
  display: none;
  font-family: 'Playball', serif;
}

h2, h3 {
  color: #58a4b0;
}

figcaption {
  color: #58a4b0;
}

.about-text {
  color: #606e7a;
}

.btn {
  background-color: #8B7C7B;
  border-color: #8B7C7B;
  font-family: #fff;
  border-radius: 25px;

  color: #fff;
}

.btn:hover {
  background-color: #F7DBD7;
  border-color: #F7DBD7;
  border-radius: 25px;

  color: #8B7C7B;
}

.card-image {
  box-shadow: 3px 3px 10px #bcbec0;
}

section {
  background-color: #F7DBD7;
}

footer {
  color: #58a4b0;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px #58a4b0 solid;
}

.nav-bar {
  margin-top: 20px;
}

@media only screen and (min-width: 25em) {

  .nav-bar {
    margin-top: 20px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-bar {
    margin-top: 18px;
  }

}
