---
layout: default
title: Krystyna Macleod · Portfolio · Ottawa, ON
meta: Homepage of portfolio of graphic designer.
---


<ul class="skip-links">
  <li><a href="#nav">Jump to navigation content</a></li>
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#project-cards">Jump to projects content</a></li>
  <li><a href="#abouts">Jump to about content</a></li>
</ul>

{% include banner.html %}

<h2 class="exa center-text">Portfolio Pieces</h2>

<div class="wrapper push-2" role="main">
  {% include cards.html %}

  <div class="pad-t-2 pad-b-2 unit s-1 m-1-3 l-1-3 center-text island-1-2" >
    <div class="card-image island-1-2">
      <a href="{{site.baseurl}}/ui" aria-label="This card links to the ui page" alt="UI Page" id="ui-page" tabindex="0">
        <div class="push-1-2">
          <img class="img-flex" src="{{site.baseurl}}/images/ui-homepage.jpg" aria-details="#ui-interface" alt="ui"></img>
        </div>
        <div>
          <h3 class="push-1-8">Cook with Me</h3>
          <p class="push-1-4 about-text micro">Ui App</p>
        </div>
      </a>
    </div>
  </div>

  <div class="pad-t-2 pad-b-2 unit s-1 m-1-3 l-1-3 center-text island-1-2" >
    <div class="card-image island-1-2">
      <a href="{{site.baseurl}}/motion" aria-label="This card links to the Motion page" alt="motion Page" id="motion-page" tabindex="0">
        <div class="push-1-2">
          <img class="img-flex" src="{{site.baseurl}}/images/motion.png" aria-details="#motion" alt="motion page"></img>
        </div>
        <div>
          <h3 class="push-1-8">Motion</h3>
          <p class="push-1-4 about-text micro">Motion Graphic</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div>
  {% include about.html %}
</div>
