---
layout: default
title: Portfolio · Logo Design · Ottawa, ON
meta: This page is an awesome re-design of Eskan Company logo.

logo: eskan-logo.svg

h1: Research
body: This case study was to re-design for a company that was outdated. The assignment is a receation of their logo. It would bring in to the modern age. Through research of the company has made the logo have an orignal design.
h2: Problem
body-2: The logo had to meet high quailty of design.  Keeping to the aboriginal roots, but having a cooperate element to the logo.
h3: Solution
body-3: By creating the teepee shows the aboriginal roots of the company. The buildings on the left; gave the cooperation element that brought it to the modern time.

image1: original-eskan-logo.jpg
image1-content: This is the original Logo
image2: mock-up-logo-branding.jpg
image2-content: Image of branding Guidelines
image3: logo-design.svg
image3-content: Logo Design in Scale

image01: eskan-sketch.jpg
image01-content: Sketch of logo
image02:
image02-content:
image03:
image03-content:

---

<h2 class="exa center-text pad-t">Logo Design</h2>

<main class="wrapper">

  {% include body-content.html %}

  {% include images.html %}

  {% include video.html %}

</main>
