---
layout: default
title: Portfolio · Illustration · Ottawa, ON
meta: This is a page of awesome illustrations.
logo: monster.svg
h1: Icons
body: These are illustration I made to the style I personal like to do. Each design was to show my skills and creative view in designing.

image1: angry.svg
image1-content: Angry Icon of myself
image2: laptop.svg
image2-content: Computer Icon
image3: notes.svg
image3-content: Note icon

image01: bag-illustration.png
image01-content: Landscape Badge
image02: personal-logo.svg
image02-content: My Personal Brand Logo
image03:
image03-content:
---

<h2 class="exa center-text pad-t">Illustrations</h2>

<main class="wrapper">

  {% include body-content.html %}

  {% include images.html %}

  {% include images-2.html %}

</main>
