---
layout: default
title: Portfolio · Illustration · Ottawa, ON
meta: This is a page of awesome illustrations.
logo: monster.svg
h1: Icons
body: These illustrations that are showcased to show the style and look in branding my brand. The illustrations are to be fun but cute and simple. Keeping them in simple pattles and shape. For the icons, having the with little detail for their use. Straight the point and cleaning look.

image1: angry.svg
image1-content: Angry Icon of myself
image2: laptop.svg
image2-content: Computer Icon
image3: notes.svg
image3-content: Note icon

image01: bag-illustration.png
image01-content: Landscape Badge
image02: personal-logo.svg
image02-content: My Personal Brand Logo
image03: little-boy.svg
---

<h2 class="exa center-text pad-t">Illustrations</h2>

<main class="wrapper">

  {% include body-content.html %}

  {% include images.html %}

  {% include images-2.html %}

</main>
