---
layout: default
title: Portfolio · Logo Design · Ottawa, ON
meta: UI research on cooking app.

logo: ui-homepage.jpg

h1: Research
body: This study case was research on apps we had in common with another classmate and came up with a topic. Then we designed our own app with that topic. The topic lead us to Cooking App.
h2: Problem
body-2: The original design that was done for the project didn’t meet with the quatily I was aiming for.
h3: Solution
body-3: Re-designing the app with a cleaner look and toning down the colour.

image1: ui-old-homepage.jpg
image1-content: Old interface.
image2: ui-recipe.jpg
image2-content: UI interface for recipe.
image3: ui-search.jpg
image3-content: UI interface for search tool.

---

{% include banner.html %}

<h2 class="exa center-text pad-t">UI</h2>

<main class="wrapper">

  {% include body-content.html %}

  {% include images.html %}

</main>
