<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Krystyna Macleod · Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/modules.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/type.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>

  <header>

  {% include nav.html %}

  </header>

  <main>
    {{content}}
  </main>

  <footer class="pad-t-1-2 pad-b-1-2 center-text">
    {% include nav.html %}
    <p class="micro push-1-8">© Krystyna Macleod</P>
  </footer>

</body>
</html>
