<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="An amazing portfolio to showcase off the awesome graphic design skills">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
</head>
<body>

  <header>

    {% include nav.html %}
    {% include banner.html %}

  </header>

  <main>
    {{content}}
  </main>

  <footer class="pad-t-1-2 pad-b-1-2 center-text" id="data-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <p class="micro push-1-8">© <span itemprop="name">Krystyna Macleod</span></P>
  </footer>

</body>
</html>
