<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Krystyna Macleod · Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/modules.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/type.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>

  <header class="text-center header push-1-4">

    <div class="nav-bar gutter-2">
      <a href="{{site.baseurl}}/index.html" alt="homepage">Homepage</a>
    </div>

    <div class="push-1-8 my-name gutter">
      <h1 class="tena">Krystyna MacLeod</h1>
    </div>

    <div class="nav-bar gutter-2">
      <nav>
        <a class="gutter-1-8" href="{{site.baseurl}}/project.html" alt="projects-page">Work</a>
        <a class="gutter-1-8" href="#about" alt="About-me">About</a>
      <nav>
    </div>

  </header>

  <div class="push text-center">
    <i class="icon i-96">
      <img class="img-flex" src="images/icon-head.svg" alt="head"></img>
    </i>
  </div>

  <main>
    {{content}}
  </main>

  <footer class="pad-t-1-2 pad-b-1-2 center-text">
    <p class="micro push-1-8">© Krystyna Macleod</P>
  </footer>

</body>
</html>
